{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}newlife{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="newlife">
    <meta name="author" content="newlife">
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    {% block css %}

    {% endblock %}

    {% block javascript %}
    {% endblock javascript %}

  </head>

  <body>



      {% block content %}

      {% endblock content %}
    {% include 'components/footer.html' %}


    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}

    {% endblock inline_javascript %}

  </body>
</html>
