{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'Akılda Kodlama' %}</title>
    <script src="https://kit.fontawesome.com/342744487d.js"></script>
    <link rel="stylesheet" href="{% static 'css/coding_gallery.css' %}">
</head>
<header class="header">

    <a href="{% url 'homepage' %}" class="logo">
        <img src="{% static 'images/TeamLogo2.png' %}" alt="">
    </a>
 
    <nav class="navbar">
       
        <a href="{% url 'molecule' %}">3D Moleküller</a>
        
        <a href="{% url 'tests' %}">{% trans 'Testler' %}</a>
        <a href="{% url 'video-list' %}">3D {% trans 'Video Bülten' %}</a>
        
    </nav>
 
    <div class="icons">
       <div class="fas fa-user"></div>
    </div>
 </header>

<body>

    <div class="container">

        <h1>{% trans 'Kodlama Galerisi' %}</h1>

        <div class="image-container">
          {% for image in images %}
            <div class="image"><img src="{{ image.image.url }}"></div>
          {% endfor %}

        </div>

        <div class="popup-image">
            <span>&times;</span>
            <img src="images/Space2_.jpg">
        </div>
    </div>

    <script>
        document.querySelectorAll('.image-container img').forEach(image =>{
    image.onclick = () =>{
        document.querySelector('.popup-image').style.display = 'block';
        document.querySelector('.popup-image img').src = image.getAttribute('src');
    }
});

document.querySelector('.popup-image span').onclick = () =>{
    document.querySelector('.popup-image').style.display = 'none';
}
    </script>

</body>
</html>
