{% load static i18n%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'tests/quiz_page_style.css' %}">
    <script src="https://kit.fontawesome.com/342744487d.js"></script>
</head>

<!-- header section starts  -->

<header class="header">

   <a href="{% url 'homepage' %}" class="logo">
       <img src="{% static 'images/TeamLogo2.png' %}" alt="">
   </a>

   <nav class="navbar">
      
       <a href="{% url 'homepage' %}">New LiFe</a>
       <a href="#home">Sorun Bildir</a>
       <a href="{% url 'molecule' %}">3D Moleküller</a>
       <!--
       <a href="#sorular">{% trans 'Sorular ve Cevaplar' %}</a>
       <a href="#gallery">3D {% trans 'Modeller' %}</a>
       -->
   </nav>

   <div class="icons">
    <a href="/accounts/login/">
        <div class="fas fa-user"></div>
       </a>
   </div>
</header>

<!-- header section ends -->

<!--Sınıf Ayrımı için Sınıflandırma kısmı  -->
    <div id="classify">
        
<!-- Testlerin olduğu Kısımları -->

        <div class="test">

<!-- Bir birinin tekrar eden kart yapısı -->

          {% for test in tests %}
          <a href='{% url 'test-detail' test.test_id %}' class="item {{ test.get_all_classes }}">
              <img src="{{ test.image.url }}" alt="" />
              <h2>{{ test.title }}</h2>
              <p>{{ test.question_count }} {% trans 'Sorudan oluşuyor' %}</p>
              <div class="description">
                 <p> {{ test.description }}</p>
              </div>
           </a>
          {% endfor %}

        </div>
     </div>

     <script src="{% static 'js/models_page.js' %}"></script>
<script src="{% static 'js/coffe.js' %}"></script>

</html>
