{% load static i18n%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tests/style.css' %}">
    
    <script src="https://kit.fontawesome.com/342744487d.js"></script>

    <title>{% trans 'Quiz App' %}</title>
</head>
<body>

    
<header class="header">

    <a href="{% url 'homepage' %}" class="logo">
        <img src="{% static 'images/TeamLogo2.png' %}" alt="">
    </a>
 
    <nav class="navbar">
       
        <a href="{% url 'coding-gallery' %}">Kodlama Galeri</a>
        <a href="{% url 'molecule' %}">3D Moleküller</a>
        <!--
        <a href="#sorular">{% trans 'Sorular ve Cevaplar' %}</a>
        <a href="#gallery">3D {% trans 'Modeller' %}</a>
        -->
    </nav>
 
    <div class="icons">
       <div class="fas fa-user"></div>
    </div>
 </header>

 

    <div class="quiz-container" id="quiz">
        <div class="quiz-header">
            <h2 id="question">Question Text</h2>
            <ul>
                <li>
                    <input type="radio" name="answer" id="a" class="answer">
                    <label for="a" id="a_text">Answer</label>
                </li>

                <li>
                    <input type="radio" name="answer" id="b" class="answer">
                    <label for="b" id="b_text">Answer</label>
                </li>

                <li>
                    <input type="radio" name="answer" id="c" class="answer">
                    <label for="c" id="c_text">Answer</label>
                </li>

                <li>
                    <input type="radio" name="answer" id="d" class="answer">
                    <label for="d" id="d_text">Answer</label>
                </li>

            </ul>
        </div>

    <button id="submit">{% trans 'Save' %}</button>

    </div>


    <script>
      {{ test.custom_js|safe }}
const quiz=document.getElementById("quiz"),answerEls=document.querySelectorAll(".answer"),questionEl=document.getElementById("question"),a_text=document.getElementById("a_text"),b_text=document.getElementById("b_text"),c_text=document.getElementById("c_text"),d_text=document.getElementById("d_text"),submitBtn=document.getElementById("submit");let currentQuiz=0,score=0;function loadQuiz(){deselectAnswers();let e=quizData[currentQuiz];questionEl.innerText=e.question,a_text.innerText=e.a,b_text.innerText=e.b,c_text.innerText=e.c,d_text.innerText=e.d}function deselectAnswers(){answerEls.forEach(e=>e.checked=!1)}function getSelected(){let e;return answerEls.forEach(t=>{t.checked&&(e=t.id)}),e}loadQuiz(),submitBtn.addEventListener("click",()=>{let e=getSelected();e&&(e===quizData[currentQuiz].correct&&score++,++currentQuiz<quizData.length?loadQuiz():quiz.innerHTML=`
            <h2>Cevaplarınız doğrultusunda ${score}/${quizData.length} puan aldınız. </h2>

            <button onclick="location.reload()">Yeniden \xc7\xf6z
            `)});
    </script>
</body>
</html>
