{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Page</title>
    <link rel="stylesheet" href="{% static 'tests/test-detail-style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <!-- start Quiz button -->
    <div class="start_btn"><button>Sınavı Başlat</button></div>

    <!-- Info Box -->
    <div class="info_box">
        <div class="info-title"><span>Sınav ile ilgili bazı kurallar</span></div>
        <div class="info-list">
            <div class="info">1. Her soru için <span>15 saniye </span> süreniz olacaktır.</div>
            <div class="info">2. Cevabınızı seçtikten sonra, geri alınamaz.</div>
            <div class="info">3. Zaman geçtikten sonra herhangi bir seçenek seçemezsiniz.</div>
            <div class="info">4. Sınavı çözerken sınavdan çıkamazsın.</div>
            <div class="info">5. Doğru cevaplarınıza dayanarak puan kazanacaksınız.</div>
        </div>
        <div class="buttons">
            <button class="quit">Geri Gel</button>
            <button class="restart">Devam Et</button>
        </div>
    </div>

    <!-- Quiz Box -->
    <div class="quiz_box">
        <header>
            <div class="title">New LiFe Sınav Uygulaması</div>
            <div class="timer">
                <div class="time_left_txt">Kalan süre</div>
                <div class="timer_sec">15</div>
            </div>
            <div class="time_line"></div>
        </header>
        <section>
            <div class="que_text">
                <!-- Burada javascript'ten soru ekledim -->
            </div>
            <div class="option_list">
                <!-- Buraya javascript'ten seçenekler ekledim -->
            </div>
        </section>

        <!-- footer of Quiz Box -->
        <footer>
            <div class="total_que">
                <!-- Burada javascript'ten Soru Sayısı Numarası ekledim -->
            </div>
            <button class="next_btn">Diğer Soru</button>
        </footer>
    </div>

    <!-- Result Box -->
    <div class="result_box">
        <div class="icon">
            <i class="fas fa-crown"></i>
        </div>
        <div class="complete_text">Sınavı tamamladın!</div>
        <div class="score_text">
            <!-- Buraya javascript'ten Puan Sonucu ekledim -->
        </div>
        <div class="buttons">
            <button class="restart">Sınavı Tekrarla</button>
            <button class="quit">Sınavdan Çık</button>
        </div>
    </div>

    <!-- Bu JavaScript dosyasının içine yalnızca Sorular ve Seçenekler ekledim -->
<script>
      {{ test.custom_js|safe }}
    </script>
    <!-- Bu JavaScript dosyasının içinde tüm Sınav Kodlarını kodladım -->
    <script src="{% static 'tests/script.js' %}"></script>

</body>
</html>

