:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border: .1rem solid rgba(255,255,255,.3);
}


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
 }
 
 html
 {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
 }
 
 html::-webkit-scrollbar{
    width: .8rem;
 }
 
 html::-webkit-scrollbar-track
 {
    background: transparent;
 }
 
 html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
 }

 .header
 {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: .92;
    
 }
 
 .header .logo img{
   width: 5rem;
 }
 
 .header .navbar a{
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #fff;
 }
 
 .header .navbar a:hover
 {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
 }
 
 .header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
 }
 
 .header .icons div:hover{
    color: var(--main-color);
 }

body{
    background-color: #3e3e3e;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.container{
    padding-top: 8rem;
    position: relative;
    min-height: 100vh;
    background: black;
}

.container h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    padding: 15px;
    color: var(--main-color);
    text-align: center;
    text-transform: capitalize;
}

.container .image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.container .image-container .image{
    height: 300px;
    width: 405px;
    border: 10px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
    border-radius: 15px;
}

.container .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.container .image-container .image:hover img{
    transform: scale(1.1);
}

.container .popup-image{
    position: fixed;
    top: 2.9rem; left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.container .popup-image span{
    position: absolute;
    top: 4rem; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.container .popup-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px, solid, #fff;
    border-radius: 5px;
    width: 75%;
    object-fit: cover;
}

@media (max-width:768px) {
    .container .popup-image img{
        width: 95%;
    }
    .navbar a{
        display: none;
    }
    .container .popup-image{
        top: 0; left: 0;
    }
    .container .popup-image span{
        top: 7rem; right: 10px;
    }
}
