:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

/*======== Language Bar Css Start ========*/
.language-menu {
    font-size: 1.2rem;
    text-align: right;
    background-color: #181a1e;
    min-height: 1.6em;
    padding-top: 0.3rem;
    margin-top: 7.5rem;
    background-color: var(--bg);
}

.language-bar {
    margin-right: 3rem;
}

.language-bar li {
    display: inline;
    list-style-type: none;
    padding-right: 1em;
    padding-left: 1em;
    font-family: Helvetica;
    font-weight: 400;
    line-height: 1.6em;
    vertical-align: baseline;
    color: white;
}

.language-bar li {
    border-right: 1.5px solid white;
}

.language-bar li:last-child {
    border-right: none;
}

.language-bar li a {
    color: white;
    text-decoration: none;
}

.language-bar li a:hover {
    text-decoration: underline;
    color: var(--main-color);
}

/*======== Language Bar Css End ========*/

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: #fff;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

/* Header Selection Css Codes Start */
.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0.92;
}

.header .logo img {
    width: 5rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-content: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    margin-bottom: auto;
    margin-top: auto;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}
/* Header Selection Css Codes End */

/* About (Hakkımızda) Selection Css Codes Start */
.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 8rem;
  }
  
  .about .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
    position: relative;
  }
  
  .about .image::before, .about .image::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: var(--main-color);
    height: 15rem;
    width: 15rem;
  }
  
  .about .image::before {
    top: 0;
    left: 0;
  }
  
  .about .image::after {
    bottom: 0;
    right: 0;
  }
  
  .about .image img {
    width: 100%;
    padding: 2rem;
  }
  
  .about .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
  }
  
  .about .content span {
    font-size: 2rem;
    color: var(--main-color);
  }
  
  .about .content .title {
    font-size: 4rem;
    color: #fff;
    margin-top: .5rem;
  }
  
  .about .content p {
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem 0;
    line-height: 2;
    text-transform: none;
  }
  .about .content p b{
    color: var(--main-color);
  }
  
  .about .content .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
  }
  
  .about .content .box-container .box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem;
  }
  
  .about .content .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
  }
  
  .about .content .box-container .box h3 i {
    padding-right: 1.5rem;
    color: var(--main-color);
  }
/* About (Hakkımızda) Selection Css Codes End */

/* Home (Hakkımızda) Selection Css Codes Start */
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('/static/VR/vrBackground.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}
/* Home (Tanıtım) Selection Css Codes End */

/* Trainers (Yönetim) Selection Css Codes Start */
.trainers .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    gap: 1.5rem;
}

.trainers .box-container .box {
    height: 40rem;
    overflow: hidden;
    position: relative;
}

.trainers .box-container .box:first-child {
    border: 4px solid #d3ad7f;
}

.trainers .box-container .box:hover .content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.trainers .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.trainers .box-container .box .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    padding: 2rem;
    -webkit-transform: translateY(6.5rem);
    transform: translateY(6.5rem);
}

.trainers .box-container .box .content span {
    font-size: 1.5rem;
    color: #f00;
}

.trainers .box-container .box .content h3 {
    font-size: 2rem;
    color: #fff;
    padding-top: .5rem;
}

.trainers .box-container .box .content .share {
    padding-top: 2rem;
    margin-top: 1.5rem;
    border-top: 0.1rem solid #aaa;
}

.trainers .box-container .box .content .share a {
    font-size: 2rem;
    color: #fff;
    margin-right: 1.5rem;
}

.trainers .box-container .box .content .share a:hover {
    color: #f00;
}
/* Trainers (Yönetim) Selection Css Codes End */


/* Products (İçerikler) Selection Css Codes Start */
.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.products .box-container .box .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: .3rem;
}

.products .box-container .box .icons a:hover {
    background: var(--main-color);
}

.products .box-container .box .image {
    padding: 2.5rem;
}

.products .box-container .image img {
    width: 25rem;
    height: 20rem;
    border-radius: 1.5rem;
}

.products .box-container .box .content h3 {
    color: #fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .stars {
    padding: 1.5rem;
}

.products .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .box-container .box .content .price {
    color: #fff;
    font-size: 2.5rem;
}

.products .box-container .box .image img:hover {
    opacity: 0.80;
}

.products .box-container .box .content .price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}
/* Products (İçerikler) Selection Css Codes Start */

/* Review(Yorum) Selection Css Codes Start */
.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.review .box-container .box .stars i {
    font-size: 1.5rem;
    color: var(--main-color);
}
/* Review(Yorum) Selection Css Codes End */

/* Blogs Selection Css Codes Start */
.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    border: var(--border);
}

.blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img {
    transform: scale(1.1);
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}

.blogs .box-container .box .content .title:hover {
    color: var(--main-color);
}

.blogs .box-container .box .content span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}
/* Blogs Selection Css Codes End */

/* Pricing Selection Css Codes Start */
.pricing {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
  }
  
  .pricing .information span {
    font-size: 2rem;
    color: var(--main-color);
  }
  
  .pricing .information h3 {
    font-size: 4rem;
    padding-top: .5rem;
    color: #fff;
  }
  
  .pricing .information p {
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
  }
  
  .pricing .information p i {
    padding-right: 1rem;
    color: var(--main-color);
  }
  
  .pricing .plan {
    text-align: center;
    padding: 2rem;
  }
  
  .pricing .plan.basic {
    background: linear-gradient(130deg, #111 93%, transparent 90%);
  }
  
  .pricing .plan h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #fff;
  }
  
  .pricing .plan .price {
    font-size: 5rem;
    font-weight: bolder;
    color: #f00;
  }
  
  .pricing .plan .price span {
    color: #fff;
    font-size: 2rem;
  }
  
  .pricing .plan .list {
    padding: 1rem 0;
  }
  
  .pricing .plan .list p {
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
  }
  
  .pricing .plan .list p i {
    padding-right: 1rem;
    color: var(--main-color);
  }

/* Pricing Selection Css Codes End */

/* Contact Selection Css Codes Start */

.contact .row {
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}


.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
    box-shadow: 5px 5px 5px 2px rgba(225, 225, 225, .12),
        6px 4px 4px 1px rgba(225, 225, 225, .30);
}

.contact .row form .inputBox span {
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}
/* Contact Selection Css Codes Ends */


/* Footer Selection Css Codes Start */
.footer {
    background: var(--black);
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: var(--main-color);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background-color: var(--main-color)
}

.footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
    font-weight: bolder;
}

.footer .credit span:hover {
    font-weight: bold;
}

/* Footer Selection Css Codes End */


/* Media Queries*/
@media screen and (max-width: 991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

    .language-menu {
        margin-top: 8.5rem;
    }
}

@media screen and (max-width: 810px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

    .about {
        gap: 3rem;
      }
      .about .image {
        margin-top: 5rem;
      }
      .about .content .title {
        font-size: 3rem;
      }

}

@media screen and (max-width: 450px) {

    html {
        font-size: 50%;
    }

}