{% load static i18n%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'Videolar' %}</title>
    <link rel="stylesheet" href="{% static 'css/video.css' %}">
    <script src="https://kit.fontawesome.com/342744487d.js"></script>

</head>
<header class="header">

    <a href="{% url 'homepage' %}" class="logo">
        <img src="{% static 'images/TeamLogo2.png' %}" alt="">
    </a>
 
    <nav class="navbar">
       
        <a href="{% url 'molecule' %}">3D Moleküller</a>
        <a href="{% url 'tests' %}">{% trans 'Testler' %}</a>
        <a href="{% url 'coding-gallery' %}">{% trans 'Kodlama Galerisi' %}</a>
        
    </nav>
 
    <div class="icons">
       <div class="fas fa-user"></div>
    </div>
 </header>

<body>
    <div class="container">
        <h1>New LiFe</h1>
        <h1>{% trans 'Video Bülteni' %}</h1>

        <div class="video-container">
          {% for video in videos %}
              <div class="video"><video src="{{ video.video.url }}" muted></video></div>
          {% endfor %}
        </div>

        <div class="popup-video">
           <span>&times;</span>
            <video src="/videos/1.mp4" muted autoplay controls></video>
        </div>
    </div>

    <script>
document.querySelectorAll('.video-container video').forEach(vid => {
    vid.onclick = () =>{
        document.querySelector('.popup-video').style.display ='block';
        document.querySelector('.popup-video video').src = vid.getAttribute('src');
    }
});
document.querySelector('.popup-video span').onclick = () =>{
    document.querySelector('.popup-video').style.display ='none';
}


    </script>


</body>
</html>
