{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
NewLiFe
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/main_page.css' %}">
{% endblock %}
{% block content %}
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="13dc1cc7-f93a-4afc-b79c-4357676b2edd";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
<header class="header">

    <a href="#" class="logo">
        <img src="{% static 'VR/OurLogo.png' %}" alt="">
    </a>

    <nav class="navbar">
        <a href="#about">{% trans 'Hakkımızda' %}</a>
        <a href="#products">{% trans 'İçerikler' %}</a>
        <a href="#lecture">{% trans 'Ders Notları' %}</a>
        <a href="#blogs">{% trans 'Bloglar' %}</a>
        <a href="#pricing">{% trans 'Fiyatlarımız' %}</a>
        <a href="#review">{% trans 'Yorumlar' %}</a>
        <a href="#trainers">{% trans 'Yönetim' %}</a>
        <a href="#contact">{% trans 'İletişim' %}</a>
    </nav>

    <div class="icons">
        <a href="/accounts/login/">
            <div class="fas fa-user" id="cart-btn"></div>
        </a>
        <div class="fas fa-bars" id="menu-btn"></div>
    </div>

</header>

<div class="language-menu">
    <ul class="language-bar">
        <li><a href="{% url 'set-language' 'tr' %}">Turkçe</a></li>
        <li><a href="{% url 'set-language' 'en' %}">English</a></li>
        <li><a href="{% url 'set-language' 'de' %}">Deutsch</a></li>
    </ul>
</div>


<!--Home section Starts -->
<section class="home" id="home">

    <div class="content">
        <h3>{% trans 'Teorik Eğitim Pratikte Güzel.' %}</h3>
        <p>{% trans 'New LiFe ile günlerini planlayarak başlamak ister misin?' %}</p>
        <a href="https://drive.google.com/file/d/1EL-6w6x-1PHS6mP7MbDi2Gr0XswcnXJu/view?usp=sharing" class="btn">{% trans 'Şimdi Dene' %}</a>
    </div>
</section>
<!--Home section Ends -->

<!--About section Starts -->
<section class="about" id="about">
    <div class="image">
        <img src="{% static 'VR/vrBackground2.jpg' %}" alt="">
    </div>
    <div class="content">
        
        <span>New LiFe Hakkında</span>
        <h3 class="title">{% trans 'New LiFe Kullanıcılarına Ne sunar?' %}</h3>
        {% blocktrans %}
        <p>
            <b>New LiFe Team</b>, kullanıcılara 3D ve infografik içeriklerle teorik bilgileri daha verimli hale getirme hedefini benimseyerek, her an her yerde deneyim ortamı
              sunan bir sanal platform oluştururken, bilginin ulaşılabilirliği ve akılda kalıcılığını en üst seviyede tutmayı hedefler.
        </p>
        {% endblocktrans %}

        <div class="box-container">
            <div class="box">
                <h3><i class="fas fa-check"></i>{% trans 'Etkili Öğrenme' %}</h3>
                <p>{% trans 'Bireysel olarak deneyimlemeye dayanan deneyler, etkili öğrenme sağlar.' %}</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>{% trans 'Zaman Kazancı' %}</h3>
                <p>{% trans 'Sanal ortamda yapılan deneyler, hatalı yapıldığında zaman kaybına neden olmaz.' %}</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>{% trans 'Yeni Deneyimler' %}</h3>
                <p>{% trans 'Farklı ve göz alıcı ortamlar sunarak, farklı deneyimler ve fikirler sunmayı hedefler.' %}</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>{% trans 'Etkilenmeme' %}</h3>
                <p>{% trans 'Çevrimiçi eğitim platformuna katıldığın için, olumsuz koşullardan etkilenmezsin.' %}</p>
            </div>
        </div>
    </div>
</section>

<!--About section Ends -->


<!-- counter section starts  -->
<section class="counter">

    <div class="container box-container">

        <div class="box">
            <h3>30+</h3>
            <p>3D Molekül & Bilgileri</p>
        </div>

        <div class="box">
            <h3>5+</h3>
            <p>Sanal Deney</p>
        </div>

        <div class="box">
            <h3>100+</h3>
            <p>Periyodik Tablo Elementi</p>
        </div>

        <div class="box">
            <h3>200+</h3>
            <p>Ders Notu İçeriği</p>
        </div>

        <div class="box">
            <h3>5+</h3>
            <p>Akıllı Blog</p>
        </div>


    </div>
</section>
<!-- counter section end  -->


<!-- Products section starts -->
<section class="products" id="products">
    <h1 class="heading">
        <span>{% trans 'İçeriklerimiz' %}</span>
    </h1>
    <div class="box-container">

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="{% url 'molecule' %}" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <a href="{% url 'molecule' %}">
                <img src="{% static 'Content/3d.jpg' %}" alt="">
            </a>
            </div>
            <div class="content">
                <h3>{% trans '3D Moleküller' %}</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">{% trans 'Gözlerini kamaştıracak!' %} <span></span></div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="{% url 'tests' %}" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <a href="{% url 'tests' %}">
                <img src="{% static 'Content/testler.jpg' %}" alt="">
            </a>
            </div>
            <div class="content">
                <h3>{% trans 'Testleri Çöz' %}</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">{% trans 'Sadece Kendinle Yarış.' %}<span></span></div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="{% url 'periodic-table' %}" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <a href="{% url 'periodic-table' %}">
                <img src="{% static 'Content/ogrendiklerini_pekistirme.jpg' %}" alt="">
                </a>
            </div>
            <div class="content">
                <h3>{% trans 'Periyodik Tablo' %}</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">{% trans 'Animasyonlu & akılda kalıcı.' %} <span></span></div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="{% url 'video-list' %}" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <a href="{% url 'video-list' %}">
                <img src="{% static 'Content/bilesenleri_yakindan_gorme.jpg' %}" alt="">
                </a>
            </div>
            <div class="content">
                <h3>{% trans 'Tepkime Zamanı' %}</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">{% trans 'Tepkimeleri yakından incele!' %} <span></span></div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="{% url 'coding-gallery' %}" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <a href="{% url 'coding-gallery' %}">
                <img src="{% static 'Content/ezberleme.jpg' %}" alt="">
                </a>
            </div>
            <div class="content">
                <h3>{% trans 'Kodlayarak Ezberle' %}</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">{% trans 'Ezberlemeye Gerek Yok.' %}<span></span></div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="{% url 'earth-que' %}" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <a href="{% url 'earth-que' %}">
                <img src="{% static 'Content/onlem.jpg' %}" alt="">
                </a>
            </div>
            <div class="content">
                <h3>{% trans 'Her zaman önlem' %}</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">{% trans 'Depreme tam hazırlık.' %}<span></span></div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="{% url 'card-game' %}" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <a href="{% url 'card-game' %}">
                <img src="{% static 'Content/oyun.jpg' %}" alt="">
                </a>
            </div>
            <div class="content">
                <h3>{% trans 'Bulmaca Oyunu' %}</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">{% trans 'Biraz Oyun fena olmaz.' %}<span></span></div>
            </div>
        </div>
    </div>
</section>

<!--Ders Notları section start -->
<section class="blogs" id="lecture">
    <h1 class="heading">{% trans 'Ders <span>Notları</span>' %}</h1>
    <div class="box-container">
        <div class="box">
            <div class="image">
                <img src="{% static 'VR/12.jpg' %}" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">{% trans '12.Sınıf Ders Notu' %}</a>

                <span>{% trans 'İçerik Ekibi' %} / 30.03.2023</span>
                <p>{% trans 'Akılda Kalıcılığı yüksek notlarla hazırlan' %}</p>
                <a href="https://drive.google.com/drive/folders/1WWyqTwEUbG9dvRWHeVXd3uRZ4M3-Hynn?usp=sharing" class="btn">{% trans 'İncele' %}</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'VR/11.jpg' %}" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">{% trans '11.Sınıf Ders Notu' %}</a>

                <span>{% trans 'İçerik Ekibi' %} / 30.03.2023</span>
                <p>{% trans 'Sınavlarda New LiFe yanında' %}</p>
                <p>Çok Yakında Hizmetinizde</p>
                <!--
                <a href="" class="btn">{% trans 'Çok Yakında' %}</a>
                -->
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'VR/10.jpg' %}" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">{% trans '10.Sınıf Ders Notu' %}</a>

                <span>{% trans 'İçerik Ekibi' %} / 30.03.2023</span>
                <p>{% trans 'Kimya için tam hazırlık' %}</p>
                <p>Çok Yakında Hizmetinizde</p>
                
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'VR/9.jpg' %}" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">{% trans '9.Sınıf Ders Notu' %}</a>

                <span>{% trans 'İçerik Ekibi' %} / 30.03.2023</span>
                <p>{% trans 'Kimyaya sağlam başlangıç' %}</p>
                <p>Çok Yakında Hizmetinizde</p>
                
            </div>
        </div>

</div>
</section>
<!--Ders notları section end-->

<!--Blogs section starts -->
<section class="blogs" id="blogs">
    <h1 class="heading">{% trans 'Güncel <span>bloglar</span>' %}</h1>

    <div class="box-container">
       {% for blog in blogs %}
        <div class="box">
            <div class="image">
               {% if blog.image %}
                <img src="{{ blog.image.url }}" alt="">
               {% endif %}
            </div>
            <div class="content">
                <a href="#" class="title">{{ blog.title }}</a>

                <span>{% trans 'İçerik Ekibi' %} / {{ blog.created_at|date }}</span>
                <p>{{ blog.short_description }}</p>
                <a href="{% url 'blog-detail' blog.slug %}" class="btn">{% trans 'İncele' %} </a>
            </div>
        </div>
       {% endfor %}
    </div>
</section>
<!--Blogs section ends -->
<h1 id="pricing" class="heading">{% trans 'fiyatlandırma <span>Planı</span>' %}</h1>
<section class="pricing" id="">
    <div class="information">
        <span>fiyatlandırma planı</span>
        <h3>sizin için uygun fiyatlandırma planı</h3>
        <p> <span>Kurumsal</span> olarak kurulum hizmetimizden yararlanmak isterseniz bizimle iletişime geçerek fiyat alabilirsiniz.</p>
        <p> <i class="fas fa-check"></i> 7/24 Teknik Destek </p>
        <p> <i class="fas fa-check"></i> Profesyonel Destek </p>
        <p> <i class="fas fa-check"></i> Hızlı ve Güvenilir Kurulum </p>
        <p> <i class="fas fa-check"></i> Özelleştirme İmkanı</p>
        <a href="#" class="btn">İletişime Geç</a>
    </div>

    <div class="plan basic">
        <h3>Deneyim Odaklı Paket</h3>
        <div class="price"><span>₺</span>19,99<span>/Ay</span></div>
       <div class="list">
        <p> <i class="fas fa-check"></i> Bütün Ders Notlarına Erişim  </p>
        <p> <i class="fas fa-check"></i> Ayda 5 Akıllı Blog Erişimi </p>
        <p> <i class="fas fa-check"></i> 3D Moleküllere Erişim Hakkı </p>
        <p> <i class="fas fa-check"></i> Ayda 2 Online Deneme Sınavı</p>
        <p> <i class="fas fa-check"></i> Ayda 1 Sanal Deney Gerçekleştirme </p>
       </div>
       <a href="#" class="btn">Hemen Başla</a>
    </div>

    <div class="plan">
        <h3>İnovatif Eğitim Destek Paketi</h3>
        <div class="price"><span>₺</span>49,99<span>/Ay</span></div>
       <div class="list">
        <p> <i class="fas fa-check"></i> Bütün Ders Notlarına Erişim </p>
        <p> <i class="fas fa-check"></i> Bütün Akıllı Bloglara Erişim </p>
        <p> <i class="fas fa-check"></i> 3D Moleküllere Erişim & Tasarlama Hakkı </p>
        <p> <i class="fas fa-check"></i> Ayda 2 Online Deneme Sınavı </p>
        <p> <i class="fas fa-check"></i> Bütün Sanal Deneyleri Gerçekleştirme </p>
       </div>
       <a href="#" class="btn">Hemen Başla</a>
    </div>

</section>

<!--Comment section starts -->

<section class="review" id="review">

    <h1 class="heading">{% trans 'Kullanıcı <span>Yorumları</span>' %} </h1>

    <div class="box-container">
       {% for user_comment in user_comments %}
        <div class="box">
            <img src="{% static 'quote-img.png' %}" alt="" class="quote">
            <p>{{ user_comment.comment }}</p>
           {% if user_comment.user_image %}
            <img src="{{ user_comment.user_image.url }}" class="user" alt="">
           {% endif %}
            <h3>{{ user_comment.user_full_name }}</h3>
            <div class="stars">
               {% for counter in user_comment.get_total_range %}
                <i class="fas fa-star"></i>
               {% endfor %}
            </div>
        </div>
       {% endfor %}
    </div>

</section>

<!--Comment section ends -->

<!--Team members section starts -->

<section class="trainers" id="trainers">

    <h1 class="heading">{% trans 'Yönetim <span>Ekibimiz</span>' %} </h1>

    <div class="box-container">
       {% for management_member in management_members %}
        <div class="box">
           {% if management_member.image %}
            <img src="{{ management_member.image.url }}" alt="">
           {% endif %}
            <div class="content">
                <span>{{ management_member.title }}</span>
                <h3>{{ management_member.full_name }}</h3>
                <div class="share">
                   {% if management_member.linkedin %}
                    <a href="{{ management_member.linkedin }}" class="fab fa-linkedin"></a>
                   {% endif %}
                   {% if management_member.instagram %}
                    <a href="{{ management_member.instagram }}" class="fab fa-instagram"></a>
                   {% endif %}
                  {% if management_member.github %}
                    <a href="{{ management_member.github }}" class="fab fa-github"></a>
                   {% endif %}
                   
                </div>
            </div>
        </div>
       {% endfor %}
    </div>

</section>

<!--Team members section starts -->

<!--Contact section starts -->
<section class="contact" id="contact">

    <h1 class="heading"> <span>{% trans 'İletişim' %}</span> </h1>
    <div class="row">

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12037.677592598036!2d28.97067453955077!3d41.03795669999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7645b3330a7%3A0xde0d784d2a10da2d!2sEspressolab%20Taksim%20Meydan!5e0!3m2!1str!2str!4v1670615897005!5m2!1str!2str"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

        <form action="">
            <h3>{% trans 'Bizimle iletişime geç' %}</h3>
            <div class="inputBox">
                <span class="fas fa-user"></span>
                <input type="text" placeholder="{% trans 'Ad Soyad' %}">
            </div>

            <div class="inputBox">
                <span class="fas fa-envelope"></span>
                <input type="email" placeholder="{% trans 'E-Mail Adresi' %}">
            </div>

            <div class="inputBox">
                <span class="fas fa-phone"></span>
                <input type="number" placeholder="{% trans 'Telefon Numarası' %}">
            </div>
            <input type="submit" value="{% trans 'İletişime geç' %}" class="btn">

        </form>
    </div>
</section>
<!--Contact section ends -->

<script src="{% static 'js/main_page.js' %}"></script>

{% endblock %}
