{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/molecule-detail.css' %}">
    <link rel="stylesheet" href="slider.css">
    <title>{{ molecule.title }}</title>
</head>
<body>
    <!--Header section starts -->

   <header class="header">

       <a href="{% url 'homepage' %}" class="logo">
           <img src="{% static 'images/TeamLogo.png' %}" alt="">
       </a>

       <nav class="navbar">
           <a href="{% url 'homepage' %}">New LiFe</a>
           <a href="#about">Hakkında</a>

           <a href="#contact">İletişim</a>
           <a href="#blogs">blogs</a>
       </nav>
           <div class="icons">
             <div class="fas fa-search" id="search-btn"></div>
             <div class="fas fa-bars" id="menu-btn"></div>

           </div>


       <!-- search Partition
       <div class="search-form">
           <input type="search" id="search-box" placeholder="searchhere...">
           <label for="search-box" class="fas fa-search"></label>
       </div>
       -->


   </header>

   <!--Header Section ends-->
    <div class="wrapper" style="margin-top: 6rem;">
        <div class="scroll-indicator"></div>
        <div class="content-wrapper">
          <div class="content">
            <div class="poster">
              <iframe style="width: 100%; height: 100%;" frameborder="0"
                src="{{ molecule.embed_link }}"></iframe>
              <div class="poster-title">
                <h1 class="text-gradient"> {{ molecule.title }} </h1>
                <div class="line"></div>

              </div>
               <div class="poster-buttons">
                 <div></div>
                 <div></div>
                 <div>
                     <form action="{% url 'add-fav-molecule' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ molecule.slug }}" name="molecule">
                   <button type="submit" style="cursor: pointer;"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
                     stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                     <path
                       d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                     </path>
                   </svg></button></form>
                 </div>
               </div>
            </div>
            <div class="info">
             <h1 style="color:#d3ad7f">{{ molecule.title }}</h1>
            </div>
            <div class="words">

              <div class="buttons">
                <div><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></div>
                <div><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></div>
              </div>
            </div>

            <div class="words">
                  {{ molecule.description }}
            </div>
            <div class="author">
              <div class="image"></div>
            </div>
          </div>
        </div>
        <div class="footer">
             <!-- footer section starts -->
             <section class="footer">

               <div class="share">
                 <a href="#" class="fab fa-instagram"></a>
                 <a href="#" class="fab fa-linkedin"></a>
                 <a href="#" class="fab fa-facebook-f"></a>
                 <a href="#" class="fab fa-twitter"></a>
                 <!--
              <a href="#" class="fab fa-pinterest"></a>
                -->
               </div>
               <!--<a href="#home">New LiFe</a>
           <a href="#about">Hakkında</a>
           <a href="#menu">Yararlar</a>
           <a href="#products">Deneyler</a>
           <a href="#review">Yorumlar</a>
           <a href="#trainers">Yönetim</a>
           <a href="#contact">İletişim</a>
           <a href="#blogs">blogs</a> -->

               <div class="links">
                 <a href="#home">New LiFe</a>
                 <a href="#about">Hakkında</a>

                 <a href="#contact">İletişim</a>
                 <a href="#blogs">blogs</a>
               </div>

               <div class="credit">created by <span>New LiFe Software®</span> | all rights reserved</div>

             </section>

             <!-- footer section ends -->
        </div>
      </div>
</body>
</html>
<script src="{% static 'js/navbar.js' %}"></script>
