{% load static i18n%}
<html lang="en">
  <head>
    <meta name="author" content="Zaur" />
    <meta descryption content="Presentation of website" />
    <meta name="keywords" content="technology, cyber security, software" />
    <meta http-equiv="refresh" content="100" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <form action="" method="POST">
          {% csrf_token %}
             {% if form.non_field_errors %}
            <div class="non-field-errors text-center">
              {% for err in form.non_field_errors %}
                <p class="form-error" style="color: red">{{ err }}</p>
              {% endfor %}
            </div>
          {% endif %}
          <div class="header">{% trans 'Giriş Yap' %}</div>

          <div class="button-input-group">
            <div class="group input-group">
              <input type="email" name="login" placeholder="E-Mail"  />
            </div>
            <div>
              {% for error in form.login.errors %}
              <span class="help__text" style="color: #d40000">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="group input-group">
              <input
                type="password"
                placeholder="{% trans 'Parola' %}"
                name="password"
              />
            </div>
            <div class="">
              {% for error in form.password.errors %}
              <span class="help__text" style="color: #d40000">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="form-link forgot">
              <a href="{% url 'account_reset_password' %}" class="login-link">{% trans 'Parolanı mı unuttun?' %}</a>
            </div>
            <div class="group button-group">
              <button class="signin-btn" type="submit">
                {% trans 'Giriş Yap' %}
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="overlay-container">
        <div class="overlay">

          <div class="overlay-panel overlay-right">
            <h1>Hoşgeldin!</h1>
            <p>Sadece mail ve parolanızı girerek yolculuğunuza bizimle başlayın</p>

            <div class="group button-group">
              <a href="/accounts/signup/"><button  class="ghost">{% trans 'Kayıt Ol' %}</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
